body {
    font-family: Arial, serif;
    padding: 20px;
    display: flex;
    flex-direction:
            column;
    margin: 0;
}

#messages {
    display: flex;
    flex-direction:
            column;
    border: 1px solid #ccc;
    height: 70vh;
    overflow-y: scroll;
    padding: 0.5vh;
    gap: 1vh;
    margin: 1vh 0;
}

#messages div {
    height: fit-content;
    width: fit-content;
    border: 1px solid black;
    background-color: gainsboro;
    border-radius: 2vh;
    padding: 1vh;
}

input {
    width: 80%;
    padding: 10px;
}
button {
    padding: 10px;
}
.chat {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.history { display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 2vh;
}

.buttons {
    display: flex;
    gap: 1vh;
}

.main {
    display: flex;
}

.addChat {
    margin-left: auto;
    margin-right: 30vh;
    width: fit-content;
}

.panel {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50vh;
    transform: translate(-50%, -50%);
    background: #f0f0f0;
    padding: 2vh;
    border: 0.5vh solid #ccc;
    border-radius: 2vh;
    z-index: 1000;
    box-shadow: 0 0 2vh rgba(0,0,0,0.3);
}

#userResults div {
    padding: 0.5vh;
    background: white;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-top: 0.5vh;
}

#userResults div:hover {
    background: #eee;
}
.chatItem {
    padding: 1vh;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-bottom: 0.5vh;
}

.chatItem.active {
    background-color: #d0e0ff;
}

img {
    max-width: 200px;
    display: block;
    margin-top: 0.5vh;
}